@font-face{
  font-family: 'Chuck Noon Brush Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Chuck Noon Brush Regular'), url('Chucknoonbrush-JRmXo.woff') format('woff');
  }

  h1{
    font-family: 'Chuck Noon Brush Regular';
  }